@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,500;1,100&display=swap');

/* font-family: 'Be Vietnam Pro', sans-serif; */

h1{
    font-family: 'Be Vietnam Pro', sans-serif;
}

*{
    margin: 0px;
}

.inicio{
    border: pink 8px dotted;
    padding: 10px;
    text-align: center;
    margin-bottom: 600px;
}

.contacto{
    border: pink 8px dotted;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.productos{
    border: pink 8px dotted;
    padding: 10px;
    text-align: center;
    margin-bottom: 600px;
}

.proyectos{
    border: pink 8px dotted;
    padding: 10px;
    text-align: center;
    margin-bottom: 600px;
}

.nosotros{
    border: pink 8px dotted;
    padding: 10px;
    text-align: center;
    margin-bottom: 600px;
}

.barranavegacion{
    list-style: none;
    background-color: antiquewhite;
    height: 30px;
    padding: 25px;
    text-align:right;
}

.paginas{
    background-color: pink;
    width: 150px;
    height: 70px;
    text-align: center;
    display: inline;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.busqueda{
    margin-left: 1200px;
}

.logo{
    height: 100px;
    width: 100px;
}

.banner{
    height: 228px;
    width: 528px;
    margin-left: 500px;
}

.footer{
    background-color: antiquewhite;
    height: 30px;
    padding: 25px;
    text-align: center;
}

.redes{
    list-style: none;
    background-color: coral;
    width: 150px;
    height: 70px;
    text-align: center;
    display: inline;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
}


.whatsapp-index{
    display: inline-block;
    width: 59px;
    height: 53px;
    border-radius: 10px;
    position: fixed;
    top: 592px;
    right: 30px;
}

.color-nav{
    background-color: pink;
}

.btn-primary{
background-color:pink (209, 34, 127);
background: pink(209, 34, 127);
border-color: pink(209, 34, 127);
}


.btn-primary:hover{
background-color: rgb(154, 22, 93);
background:  rgb(154, 22, 93);
border-color:  rgb(154, 22, 93);
}

.accordion-button:not(.collapsed){
background-color:rgba(209, 34, 127, 0.393) ;
color:rgb(154, 22, 93) ;
}

.accordion-button:focus{
box-shadow: none;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}

.btn-outline-success {
    --bs-btn-color: rgb(154, 22, 93);
    --bs-btn-border-color: rgb(154, 22, 93);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(154, 22, 93);
    --bs-btn-hover-border-color: rgb(154, 22, 93);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(154, 22, 93);
    --bs-btn-active-border-color: rgb(154, 22, 93);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(154, 22, 93);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(154, 22, 93);
    --bs-gradient: none;
}